bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
.idea/
/Migrations/
.vs/
ArcheryBackend.csproj.user
appsettings.Development.json
appsettings.json
.idea/config/applicationhost.config
%USERPROFILE%/.aspnet/https/aspnetapp.pfx
.idea/config/applicationhost.config
.idea/config/applicationhost.config
